*.py[cod]

# C extensions
*.so

# Packages
*.egg*
*.cache
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# html_coverage
html_coverage/

# Pycharm
.idea/

# virtual environment
venv/

# Mkdocs build dir
site/

package-lock.json
node_modules