beckett==0.8.*      # main functionality
fcache==0.4.*       # disk-based cache
requests==2.21.*    # used by beckett (bumped to avoid CVE-2018-18074)
urllib3~=1.24.3     # used by requests (bumped to avoid CVE-2019-11236)
